<form [formGroup]="albumForm" (ngSubmit)="onSubmit()" class="form">
  <section class="mat-typography">
    <h2>Edit Album</h2>
  </section>
  <mat-form-field hintLabel="Max 20 characters">
    <input matInput formControlName="album" placeholder="Album" required maxlength="20">
    <mat-hint align="end">{{albumField.value?.length || 0}}/20</mat-hint>
    <mat-error>Album is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Collection</mat-label>
    <mat-select formControlName="collection">
      <mat-option value="0">(none)</mat-option>
      <mat-option *ngFor="let collection of collections" [value]="collection.id">
        {{collection.collection}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="notes" placeholder="Notes"
              cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10">
    </textarea>
  </mat-form-field>
  <button mat-button type="submit" [disabled]="!albumForm.valid || saving">Save</button>
  <a routerLink="/albums" mat-button>Cancel</a>
</form>